{% extends 'base.html' %} {% block content %}
<div class="header">
  <h1>MEET JASON</h1>
</div>
<br />
<div class="content">
  <br />
  <h3>
    Jason Hull is a software engineer, artist, and musician, and lives in
    Portland Oregon with his wife, Michelle, his daughter Maddie, his son
    Sebastian and his three cats, Poppy, Leo, and Fluffy. He began his
    professional working career in graphic design and print production. Even at
    an early age he has always enjoyed the various styles of art. Recently, he
    has started working in Software Development as a way to integrate the things
    he enjoys while helping other artists find a place to showcase their work.
  </h3>
  <br />
</div>
<br />
<br />
<div class="imageContainer">
  <a id="imageLink" href="#">
    <img src="/static/images/jhull.png" alt="" id="bioImage" />
  </a>
</div>
{% endblock %}
