{% extends 'base.html' %} {% block content %}

<h1>MEET JASON</h1>
<h3>
  Jason Hull is a software engineer, artist, and musician, and lives in Portland
  Oregon with his wife, Michelle, his daughter Maddie, his son Sebastian and his
  three cats, Poppy, Leo, and Fluffy. He began his professional working career
  in graphic design and print production. He has always enjoyed the various
  styles of art at an early age and has recently started working in Software
  Development as a way to integrate the things he enjoys and help other artists
  find a place to showcase their work.
</h3>

<div class="imageContainer">
  <a id="imageLink" href="#">
    <img src="/static/images/jhull.png" alt="" id="bioImage" />
  </a>
</div>
{% endblock %}
