{% extends 'base.html' %} {% block content %}
<h1>Welcome to The Artist Page</h1>
<h4>
  No matter the style, or content there are different ways artist express
  themselves. <br> Check out some of our artists below.
</h4>
<br />
<br />
<div class="imageContainer">
  <a id="imageLink" href="#">
    <img src= "{{background}}" alt"" id="unsplashImage"/>
  </a>
  <p class="imageDetails">
    <div>
    Artist: <a id="artist">{{artist_name}}</a> <br>
    Username: <a id="username">{{user_name}}</a> <br>
    Bio: <a id="bio">{{bio}}</a> <br>
    Location: <a id="location">{{location}}</a> <br>
    Portfolio: <a id="portfolio" href="{{portfolio}}">{{portfolio}}</a>
  </div>

  </p>
</div>
{% endblock %}
