{% extends 'base.html' %} {% block content %}
<h1>Welcome to The Artist Page</h1>
<h4>
  No matter the style, or content there are different ways artist express
  themselves. <br> Check out some of our artists below.
</h3>
<br />
<br />
<div class="imageContainer">
  <a id="imageLink" href="#">
    <img src= "{{background}}" alt"" id="unsplashImage"/>
  </a>
  <p class="imageDetails">
    Artist: <a id="artist" href="{{artist_name}}"></a>{{artist_name}}</a> <br>
    Bio: <a id="bio" placeholder='No bio for this artist. Check back soon!'></a>{{bio}}</a> <br>
    Portfolio: <a id="portfolio" href="{{portfolio_url}}"></a>{{portfolio_url}}</a>
  </p>
</div>
{% endblock %}
