<html>
  <head>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/flatly/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <nav class="navbar navbar-expand bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand text-light">
            <img src="/static/images/simply_art_logo.png" alt="logo" />
            <span>Simply Art</span>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if session['user_id'] %}
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/messages">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/artists">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/register">Sign up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container" style="margin-top: 2em">
      {% for category, msg in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}">{{ msg }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </div>
    <script src="script.js"></script>
  </body>
</html>
